{% extends "base.html" %}
{% block title %} About - Muhammad Abdullah Abrar {% endblock %}
{% block content %}

<div class="flex flex-col items-center justify-center text-center">
    <!-- Centered "About" Title -->
    <div class="text-sky-500 text-4xl sm:text-4xl md:text-5xl font-bold mb-8">
        About
    </div>

    <!-- Button Grid -->
    <div class="grid grid-cols-2 gap-4 mb-8">
        <button class="btn-links" id="btn-intro">Introduction</button>
        <button class="btn-links" id="btn-education">Education</button>
        <button class="btn-links" id="btn-skills">Skills</button>
        <button class="btn-links" id="btn-experience">Experience</button>
    </div>

    <!-- Introduction Section -->
    <div id="introduction" class="text-center w-full max-w-lg">
        <h2 class="text-abdullah text-2xl font-bold mb-4">Introduction</h2>
        <p class="mb-6">
            I am a DevOps Engineer with a passion for automation and cloud technologies. I specialize in Python
            and React, with experience in MySQL, Linux, and Bash. I manage servers with Apache and Nginx, use Docker. I
            am learing DevOps and Cloud Advancement from Al-Nafi.
        </p>
        <div class="text-left">
            <p><strong class="text-lm">Name:</strong> Muhammad Abdullah Abrar</p>
            <p><strong class="text-lm">Age:</strong> 16</p>
            <p><strong class="text-lm">Phone Number:</strong> +(92) 309-5306826</p>
            <p><strong class="text-lm">WhatsApp:</strong> +(92) 309-5306826</p>
            <p><strong class="text-lm">Email:</strong> abdullahabrar4843@gmail.com</p>
            <!-- <p>
                <strong>More Info:</strong> More details about me can be added here.
            </p> -->
        </div>
    </div>

    <!-- Education Section (Hidden initially, will appear on button click) -->
    <div id="education" class="hidden text-center w-full max-w-2xl mt-8">
        <h2 class="text-abdullah text-2xl font-bold mb-4">Education</h2>
        <div class="py-8">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12 w-full">
                <!-- Education Box 1 -->
                <div
                    class="bg-black border-2 border-sky-500 p-10 rounded-lg hover:shadow-xl transition-shadow duration-300 h-full">
                    <h3 class="text-abdullah sm:text-3xl md:text-4xl text-sky-500 font-semibold mb-4">Diploma in DevOps
                        & Cloud Advancement</h3>
                    <p class="text-gray-300 text-lg md:text-xl mb-4">
                        August 2024 - Present
                    </p>
                    <ul class="list-disc text-gray-300 text-lg md:text-xl pl-5 space-y-2">
                        <li>Focus on CI/CD Pipelines & Automation.</li>
                        <li>Using Docker and Kubernetes for Deployment and Cloud Services.</li>
                    </ul>
                </div>

                <!-- Education Box 2 -->
                <div
                    class="bg-black border-2 border-sky-500 p-10 rounded-lg hover:shadow-xl transition-shadow duration-300 h-full">
                    <h3 class="text-abdullah sm:text-3xl md:text-4xl text-sky-500 font-semibold mb-4">Matric Grade -
                        9/10th</h3>
                    <p class="text-gray-300 text-lg md:text-xl mb-4">
                        OPF Boys College - 90%
                    </p>
                    <p class="text-gray-300 text-lg md:text-xl mb-4">
                        2022 - 2024
                    </p>
                    <ul class="list-disc text-gray-300 text-lg md:text-xl pl-5 space-y-2">
                        <li>Basic Knowledge in IT and Programming.</li>
                        <li>Computer Hardware, Software Working with Internet and Protocols.</li>
                        <li>Worked on Basic Algorithms.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Skills Section (Hidden initially, will appear on button click) -->
    <div id="skills" class="hidden text-center w-full max-w-2xl mt-8">
        <h2 class="text-abdullah text-2xl font-bold mb-4">Skills</h2>
        <p class="text-gray-300 mb-6">
            I specialize in React and Python, with skills in MySQL, Linux, and Bash. I manage servers with
            Apache and Nginx, use Docker and Kubernetes, and automate with Ansible. I also work with Terraform
            for infrastructure and Prometheus for monitoring.
        </p>
        <div class="grid grid-cols-4 gap-4">
            <!-- Skill Item with Hover Effect -->
            <div class="bg-gray-800 p-4 rounded-lg relative group">
                <img src="{{ url_for('static', filename='assets/icons/python.svg') }}" alt="Python"
                    class="w-12 h-12 mx-auto">
                <span
                    class="absolute inset-x-0 bottom-0 text-sky-500 text-sm font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">Python</span>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg relative group">
                <img src="{{ url_for('static', filename='assets/icons/linux.svg') }}" alt="Linux"
                    class="w-12 h-12 mx-auto">
                <span
                    class="absolute inset-x-0 bottom-0 text-sky-500 text-sm font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">Linux</span>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg relative group">
                <img src="{{ url_for('static', filename='assets/icons/bash.svg') }}" alt="Bash"
                    class="w-12 h-12 mx-auto">
                <span
                    class="absolute inset-x-0 bottom-0 text-sky-500 text-sm font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">Bash</span>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg relative group">
                <img src="{{ url_for('static', filename='assets/icons/docker.svg') }}" alt="Docker"
                    class="w-12 h-12 mx-auto">
                <span
                    class="absolute inset-x-0 bottom-0 text-sky-500 text-sm font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">Docker</span>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg relative group">
                <img src="{{ url_for('static', filename='assets/icons/kubernetes.svg') }}" alt="Kubernetes"
                    class="w-12 h-12 mx-auto">
                <span
                    class="absolute inset-x-0 bottom-0 text-sky-500 text-sm font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">Kubernetes</span>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg relative group">
                <img src="{{ url_for('static', filename='assets/icons/git.svg') }}" alt="Git" class="w-12 h-12 mx-auto">
                <span
                    class="absolute inset-x-0 bottom-0 text-sky-500 text-sm font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">Git</span>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg relative group">
                <img src="{{ url_for('static', filename='assets/icons/go-svgrepo-com.svg') }}" alt="Go"
                    class="w-12 h-12 mx-auto">
                <span
                    class="absolute inset-x-0 bottom-0 text-sky-500 text-sm font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">Go</span>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg relative group">
                <img src="{{ url_for('static', filename='assets/icons/html-5-svgrepo-com.svg') }}" alt="HTML"
                    class="w-12 h-12 mx-auto">
                <span
                    class="absolute inset-x-0 bottom-0 text-sky-500 text-sm font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">HTML</span>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg relative group">
                <img src="{{ url_for('static', filename='assets/icons/css-3-svgrepo-com.svg') }}" alt="CSS"
                    class="w-12 h-12 mx-auto">
                <span
                    class="absolute inset-x-0 bottom-0 text-sky-500 text-sm font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">CSS</span>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg relative group">
                <img src="{{ url_for('static', filename='assets/icons/flask.svg') }}" alt="Flask"
                    class="w-12 h-12 mx-auto">
                <span
                    class="absolute inset-x-0 bottom-0 text-sky-500 text-sm font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">Flask</span>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg relative group">
                <img src="{{ url_for('static', filename='assets/icons/javascript.svg') }}" alt="JavaScript"
                    class="w-12 h-12 mx-auto">
                <span
                    class="absolute inset-x-0 bottom-0 text-sky-500 text-sm font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">JavaScript</span>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg relative group">
                <img src="{{ url_for('static', filename='assets/icons/terraform.svg') }}" alt="Terraform"
                    class="w-12 h-12 mx-auto">
                <span
                    class="absolute inset-x-0 bottom-0 text-sky-500 text-sm font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">Terraform</span>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg relative group">
                <img src="{{ url_for('static', filename='assets/icons/ansible.svg') }}" alt="Ansible"
                    class="w-12 h-12 mx-auto">
                <span
                    class="absolute inset-x-0 bottom-0 text-sky-500 text-sm font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">Ansible</span>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg relative group">
                <img src="{{ url_for('static', filename='assets/icons/jenkins.svg') }}" alt="Jenkins"
                    class="w-12 h-12 mx-auto">
                <span
                    class="absolute inset-x-0 bottom-0 text-sky-500 text-sm font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">Jenkins</span>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg relative group">
                <img src="{{ url_for('static', filename='assets/icons/selenium.svg') }}" alt="Selenium"
                    class="w-12 h-12 mx-auto">
                <span
                    class="absolute inset-x-0 bottom-0 text-sky-500 text-sm font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">Selenium</span>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg relative group">
                <img src="{{ url_for('static', filename='assets/icons/coding.svg') }}" alt="Coding"
                    class="w-12 h-12 mx-auto">
                <span
                    class="absolute inset-x-0 bottom-0 text-sky-500 text-sm font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">Coding</span>
            </div>
        </div>
    </div>


    <!-- Experience Section (Hidden initially, will appear on button click) -->
    <div id="experience" class="hidden text-center w-full max-w-2xl mt-8">
        <h2 class="text-abdullah text-2xl font-bold mb-4">Experience</h2>
        <div class="py-8">
            <!-- Experience content goes here -->
        </div>
    </div>

    <script>
        // JavaScript for toggling sections
        const btnIntro = document.getElementById("btn-intro");
        const btnEducation = document.getElementById("btn-education");
        const btnSkills = document.getElementById("btn-skills");
        const btnExperience = document.getElementById("btn-experience");

        const introductionSection = document.getElementById("introduction");
        const educationSection = document.getElementById("education");
        const skillsSection = document.getElementById("skills");
        const experienceSection = document.getElementById("experience");

        // Show Introduction by default, hide Education, Skills, and Experience
        introductionSection.classList.remove("hidden");
        educationSection.classList.add("hidden");
        skillsSection.classList.add("hidden");
        experienceSection.classList.add("hidden");

        // Event listener for Introduction button
        btnIntro.addEventListener("click", () => {
            introductionSection.classList.remove("hidden");
            educationSection.classList.add("hidden");
            skillsSection.classList.add("hidden");
            experienceSection.classList.add("hidden");
        });

        // Event listener for Education button
        btnEducation.addEventListener("click", () => {
            introductionSection.classList.add("hidden");
            educationSection.classList.remove("hidden");
            skillsSection.classList.add("hidden");
            experienceSection.classList.add("hidden");
        });

        // Event listener for Skills button
        btnSkills.addEventListener("click", () => {
            introductionSection.classList.add("hidden");
            educationSection.classList.add("hidden");
            skillsSection.classList.remove("hidden");
            experienceSection.classList.add("hidden");
        });

        // Event listener for Experience button
        btnExperience.addEventListener("click", () => {
            introductionSection.classList.add("hidden");
            educationSection.classList.add("hidden");
            skillsSection.classList.add("hidden");
            experienceSection.classList.remove("hidden");
        });
    </script>

</div>

{% endblock %}