<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Include Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body class="body"> <!-- Changed background to #18181b -->

    <!-- Navigation Bar with Responsive Toggle -->
    <nav class="">
        <div class="container mx-auto px-4 py-2 flex justify-between items-center">
            <!-- Left Side: Your Name -->
            <div class="text-lg font-semibold text-sky-500">
                Muhammad Abdullah Abrar
            </div>
            <!-- Hamburger Menu Icon for Mobile -->
            <div class="md:hidden">
                <button id="nav-toggle" class="focus:outline-none">
                    <svg class="w-6 h-6 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
            <!-- Right Side: Navigation Links -->
            <div class="md:flex space-x-4 items-center hidden md:block" id="nav-menu">
                <a href="/home" class="nav-link" id="home-link">Home</a>
                <a href="/about" class="nav-link" id="about-link">About</a>
                <a href="/services" class="nav-link" id="services-link">Services</a>
                <a href="/contact" class="btn-contact" id="contact-link">Contact</a>
            </div>
        </div>
    </nav>

    <!-- Main Content Area -->
    <div class="container mx-auto mt-10 px-4">
        {% block content %}{% endblock %}
    </div>

    <!-- JavaScript for Toggle and Active Link Highlight -->
    <script>
        const navToggle = document.getElementById('nav-toggle');
        const navMenu = document.getElementById('nav-menu');
        const mobileNavMenu = document.getElementById('mobile-nav-menu');

        navToggle.addEventListener('click', () => {
            navMenu.classList.toggle('hidden');
            mobileNavMenu.classList.toggle('hidden'); // Toggle the mobile nav menu
        });

        // Highlight Active Link
        const links = document.querySelectorAll('.nav-link, .nav-link-mobile');
        links.forEach(link => {
            if (link.href === window.location.href) {
                link.classList.add('active-nav-link'); // Add class to highlight the current page link
            }
        });
    </script>
</body>
</html>