{% extends "base.html" %}

{% block title %}
    Home - Muhammad Abdullah Abrar
{% endblock %}

{% block content %}
    <div class="text-center mt-10">
        <!-- Profile Image with Rotating Segmented Border -->
        <div class="border-animation-large img">
            <img src="{{ url_for('static', filename='assets/profile.png') }}" alt="Profile Picture of Muhammad Abdullah Abrar">
        </div>
        <br>
        <!-- Rotating Skills -->
        <div id="skill-display" class="text-sky-500 text-xl font-semibold mt-4"></div>

        <!-- Text Introduction -->
        <p class="text-sky-500 text-lg font-semibold mt-6">Hi, I'm</p>
        
        <!-- Name Display -->
        <h1 class="text-sky-500 font-bold text-5xl leading-tight mt-2">
            Muhammad<br>Abdullah Abrar
        </h1>

        <!-- Social Buttons Section -->
        <div class="mt-10 grid grid-cols-2 gap-8 mx-auto w-72">
            <a href="{{ url_for('static', filename='assets/Resume - Muhammmad Abdullah Abrar.pdf') }}" target="_blank" class="btn-links flex items-center justify-center">
                <img src="{{ url_for('static', filename='assets/icons/linkedin.png') }}" alt="Resume Icon" class="w-6 h-6 mr-2">Resume
            </a>
            <a href="www.linkedin.com/in/muhammadabdullahabrar" target="_blank" class="btn-links flex items-center justify-center">
                <img src="{{ url_for('static', filename='assets/icons/linkedin.svg') }}" alt="LinkedIn Icon" class="w-6 h-6 mr-2">LinkedIn
            </a>
            <a href="www.github.com/Abdullah-0-3" target="_blank" class="btn-links flex items-center justify-center">
                <img src="{{ url_for('static', filename='assets/icons/github.svg') }}" alt="GitHub Icon" class="w-6 h-6 mr-2">GitHub
            </a>
            <a href="www.instagram.com/abdullahabrar_999" target="_blank" class="btn-links flex items-center justify-center">
                <img src="{{ url_for('static', filename='assets/icons/instagram.svg') }}" alt="Instagram Icon" class="w-6 h-6 mr-2">Instagram
            </a>
        </div>
    </div>

    <script>
        // JavaScript for Rotating Skills
        const skills = ["DevOps Engineer", "System Administrator", "Python Developer"];
        let skillIndex = 0;
        const skillDisplay = document.getElementById("skill-display");

        function rotateSkills() {
            skillDisplay.textContent = skills[skillIndex];
            skillIndex = (skillIndex + 1) % skills.length;
            setTimeout(rotateSkills, 2000);
        }
        rotateSkills();
    </script>
{% endblock %}