{% extends "base.html" %}

{% block title %}
    Home - Muhammad Abdullah Abrar
{% endblock %}

{% block content %}
    <div class="text-center mt-10">
        <!-- Profile Image with Rotating Segmented Border -->
        <div class="border-animation-large img">
            <img src="{{ url_for('static', filename='profile.png') }}" alt="Profile Picture of Muhammad Abdullah Abrar">
        </div>
        <br>
        <!-- Rotating Skills -->
        <div id="skill-display" class="text-sky-500 text-xl font-semibold mt-4"></div>

        <!-- Text Introduction -->
        <p class="text-sky-500 text-lg font-semibold mt-6">Hi, I'm</p>
        
        <!-- Name Display -->
        <h1 class="text-sky-500 font-bold text-5xl leading-tight mt-2">
            Muhammad<br>Abdullah Abrar
        </h1>
        
    </div>

    <script>
        // JavaScript for Rotating Skills
        const skills = ["DevOps Engineer", "System Administrator", "Python Developer"];
        let skillIndex = 0;
        const skillDisplay = document.getElementById("skill-display");

        function rotateSkills() {
            skillDisplay.textContent = skills[skillIndex];
            skillIndex = (skillIndex + 1) % skills.length;
            setTimeout(rotateSkills, 2000);
        }
        rotateSkills();
    </script>
{% endblock %}