{% extends "base.html" %}

{% block title %}
    Services - Muhammad Abdullah Abrar
{% endblock %}

{% block content %}

<h1 class="text-6xl font-bold text-center mt-10">Services</h1> 

<!-- Services Section -->
<div class="container mx-auto mt-10 grid grid-cols-1 md:grid-cols-3 gap-6">
    <!-- Box 1 -->
    <div class="p-6 border-2 border-sky-500 text-white rounded-lg">
        <h2 class="text-abdullah font-bold text-sky-500 mb-4">DevOps Engineer</h2>
        <ul class="list-disc pl-6">
            <li>
                <b class="text-lg">Automation</b>
                <br>
                <ul class="list-disc pl-6">
                    <li></li>
                    <li></li>
                </ul>
            </li>
            <li>
                <b class="text-lg">Containerization</b>
                <br>
                <ul class="list-disc pl-6">
                    <li></li>
                    <li></li>
                </ul>
            </li>
            <li>
                <b class="text-lg">CI/CD Pipelines</b>
                <br>
                <ul class="list-disc pl-6">
                    <li></li>
                    <li></li>
                </ul>
            </li>
            <li>
                <b class="text-lg">Cloud Integreation</b>
                <br>
                <ul class="list-disc pl-6">
                    <li></li>
                    <li></li>
                </ul>
            </li>
        </ul>
    </div>
    
    <!-- Box 2 -->
    <div class="p-6 border-2 border-sky-500 text-white rounded-lg">
        <h2 class="text-abdullah font-bold text-sky-500 mb-4">System Administrator</h2>
        <ul class="list-disc pl-6">
            <li>
                <b class="text-lg">System Administration & Security</b>
                <br>
                <ul class="list-disc pl-6">
                    <li></li>
                    <li></li>
                </ul>
            </li>
            <li>
                <b class="text-lg">Networking</b>
                <br>
                <ul class="list-disc pl-6">
                    <li></li>
                    <li></li>
                </ul>
            </li>
            <li>
                <b class="text-lg">Database administration</b>
                <br>
                <ul class="list-disc pl-6">
                    <li></li>
                    <li></li>
                </ul>
            </li>
        </ul>
    </div>
    
    <!-- Box 3 -->
    <div class="p-6 border-2 border-sky-500 text-white rounded-lg">
        <h2 class="text-abdullah font-bold text-sky-500 mb-4">Python Developer</h2>
        <ul class="list-disc pl-6">
            <li>
                <b class="text-lg">Python Automation & Scripting</b>
                <br>
                <ul class="list-disc pl-6">
                    <li></li>
                    <li></li>
                </ul>
            </li>
            <li>
                <b class="text-lg">Data Science</b>
                <br>
                <ul class="list-disc pl-6">
                    <li></li>
                    <li></li>
                </ul>
            </li>
            <li>
                <b class="text-lg">Python Libraries</b>
                <br>
                <ul class="list-disc pl-6">
                    <li></li>
                    <li></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

{% endblock %}